<?xml version="1.0"?>
<ruleset>

    <!-- Exclude the Composer Vendor directory. -->
    <exclude-pattern>/vendor/*</exclude-pattern>

    <arg name="colors" />

    <file>really-simple-disable-comments.php</file>

    <rule ref="PSR12">
        <exclude name="PSR1.Files.SideEffects.FoundWithSymbols" />
        <exclude name="PSR1.Classes.ClassDeclaration.MissingNamespace" />
        <exclude name="PSR1.Methods.CamelCapsMethodName.NotCamelCaps" />
        <exclude name="Generic.Files.LineLength.TooLong" />
        <exclude name="PSR12.Files.FileHeader.SpacingAfterBlock" />
    </rule>

    <rule ref="WordPress-Docs" />

</ruleset>
